.product1{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   width: 20%;
}



.product2{
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.slider-nav{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:900px){
    .product1 img{
        width: 50%;
    }
    .slider-nav{
        width: 50%;
    }
}